*{
    padding:0;
    margin:0;
}
 body {
    background: url('a.jpg') no-repeat; 
     background-size: cover; 
     width:100%;
     height:100vh;
} 
.login-form {
    width:350px;
    top:52%;
    left:50%;
    transform: translate(-50%,-50%);
    position: absolute;
    color:#000;
}
.login-form h1 {
    color:#000;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}
.login-form p {
    color:black;
    font-size: 20px;
    margin: 15px 0;
}
.login-form input {
    font-size: 16px;
    width: 100%;
    padding: 15px 10px;
    border: 0;
    outline: none;
    border-radius: 5px;
}
.login-form button {
    background: #fff;
    color:grey;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 50%;
    border-radius: 5px;
    border: 0;

}
.error{
    background:red;
    color:#A94442;
    padding:10px;
    width:95%;
    border-radius: 5px;
    margin:20px auto;
}
@media(max-width:1190px)
{
    .login-form {
        width:350px;
        top:48%;
        left:50%;
        transform: translate(-50%,-50%);
    position: absolute;
    color:#000;
    }
    .login-form input {
        font-size: 16px;
        width: 100%;
    }
}
@media(max-width:600px)
{
    .login-form {
        width:350px;
        top:48%;
        left:52%;
        transform: translate(-50%,-50%);
    position: absolute;
    color:#000;
    }
    .login-form input {
        font-size: 16px;
        width: 78%;
    }
}
@media(max-width:400px)
{
    body {
        background: url('a.jpg') no-repeat; 
         background-size: cover; 
         width:100%;
         height:200vh;
    } 
    .login-form {
        width:350px;
         top:48%;
        left:65%; 
        transform: translate(-50%,-50%);
    position: absolute;
    color:#000;
    }
    .login-form h1 {
        color:#000;
        font-size: 35px;
        text-align: center;
        text-transform: uppercase;
        margin: 40px 0;
    }
    .login-form input {
        font-size: 16px;
        width: 78%;
    }
}